/* Общие стили */

body {
    background: linear-gradient(to bottom, #87CEEB, #E0F6FF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/* Контейнер дома */

.house {
    position: relative;
    width: 220px;
    height: 250px;
}


/* Основание дома */

.base {
    width: 180px;
    height: 150px;
    background: #A0522D;
    border: 3px solid #6D3F1D;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}


/* Крыша */

.roof {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 90px solid #8B0000;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.2));
}


/* Дымоход */

.chimney {
    width: 30px;
    height: 60px;
    background: #6D3F1D;
    border-radius: 3px;
    position: absolute;
    top: -10px;
    left: 60%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


/* Окна */

.window {
    width: 45px;
    height: 45px;
    background: #87CEEB;
    border-radius: 8px;
    border: 3px solid #6D3F1D;
    position: absolute;
    top: 150px;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.window-left {
    left: 25px;
}

.window-right {
    right: 25px;
}


/* Подоконник */

.windowsill {
    width: 50px;
    height: 12px;
    background: #812d2d;
    position: absolute;
    top: 44px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


/* Дверь */

.door {
    width: 50px;
    height: 90px;
    background: #5D2E1A;
    border-radius: 5px;
    border: 3px solid #3E1E0F;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.3);
}


/* Ручка от двери*/

.door-handle {
    width: 8px;
    height: 8px;
    background: radial-gradient(circle, #FFD700, #B8860B);
    border-radius: 50%;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}